## Settings file was created by plugin v1111 v0.1.0
## Plugin GUID: doppelwranglerveewun

[Suits to Replace Settings]

## Enable to model replace every suit. Set to false to specify suits
# Setting type: Boolean
# Default value: false
Enable Model for all Suits = false

## Enable to model replace every suit that hasn't been otherwise registered.
# Setting type: Boolean
# Default value: false
Enable Model as default = false

## Enter a comma separated list of suit names.(Additionally, [Green suit,Pajama suit,Hazard suit])
# Setting type: String
# Default value: V1
Suits to enable Model for = V1

