## Settings file was created by plugin MoreUpgrades v1.3.6
## Plugin GUID: bulletbot.moreupgrades

[1: Sprint Usage]

Enabled = true

Max Amount = 10

Max Amount In Shop = 4

Minimum Price = 3000

Maximum Price = 4500

Price Increase Scaling = 0.35

Max Purchase Amount = -1

Allow Team Upgrades = true

Starting Amount = 0

Display Name = Sprint Usage

Scaling Factor = 0.15

Price = 4500

Has Max Purchase = false

[2: Valuable Count]

Enabled = true

Max Amount = 1

Max Amount In Shop = 1

Minimum Price = 5000

Maximum Price = 6000

Price Increase Scaling = 0

Max Purchase Amount = 1

Allow Team Upgrades = false

Starting Amount = 0

Display Name = Valuable Count

Display Total Value = true

Price = 6000

Has Max Purchase = true

[3: Map Enemy Display]

Enabled = true

Max Amount = 1

Max Amount In Shop = 1

Price = 5000

Max Purchase Amount = 1

Allow Team Upgrades = false

Starting Amount = 0

Arrow Icon = true

Color = FF0000FF

Exclude Enemies = 

Has Max Purchase = true

[3: Map Enemy Tracker]

Enabled = true

Max Amount = 1

Max Amount In Shop = 1

Minimum Price = 6000

Maximum Price = 7000

Price Increase Scaling = 0

Max Purchase Amount = 1

Allow Team Upgrades = true

Starting Amount = 0

Display Name = Map Enemy Tracker

Arrow Icon = true

Color = FF0000FF

Exclude Enemies = 

[4: Map Player Tracker]

Enabled = true

Max Amount = 1

Max Amount In Shop = 1

Minimum Price = 6000

Maximum Price = 7000

Price Increase Scaling = 0

Max Purchase Amount = 1

Allow Team Upgrades = true

Starting Amount = 0

Display Name = Map Player Tracker

Arrow Icon = true

Player Color = false

Color = 0000FFFF

[5: Item Resist]

Enabled = true

Allow Team Upgrades = false

Starting Amount = 0

[5: Item Resist (sandwich.itemResistUpgrade)]

Enabled = true

Allow Team Upgrades = true

Starting Amount = 0

Max Amount = 100

Max Amount In Shop = 2

Minimum Price = 1000

Maximum Price = 1500

Max Purchase Amount = 0

[Item Resist (sandwich.itemResistUpgrade)]

## Whether the upgrade item can be spawned to the shop.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether the upgrade item applies to the entire team instead of just one player.
# Setting type: Boolean
# Default value: false
Allow Team Upgrades = true

## The number of times the upgrade item is applied at the start of the game.
# Setting type: Int32
# Default value: 0
Starting Amount = 0

[Map Enemy Tracker]

## Whether the upgrade item can be spawned to the shop.
# Setting type: Boolean
# Default value: true
Enabled = true

## The maximum number of times the upgrade item can appear in the truck.
# Setting type: Int32
# Default value: 1
Max Amount = 1

## The maximum number of times the upgrade item can appear in the shop.
# Setting type: Int32
# Default value: 1
Max Amount In Shop = 1

## The minimum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 50000
Minimum Price = 50000

## The maximum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 60000
Maximum Price = 60000

## The scale of the price increase based on the total number of upgrade item purchased.
## Default scaling is set to 0.5. (Note: This value may be modified by other mods that adjust the game's default scaling.)
## Set to -1 to use the default scaling.
# Setting type: Single
# Default value: 0
Price Increase Scaling = 0

## The maximum number of times the upgrade item can be purchased before it is no longer available in the shop.
## Set to 0 to disable the limit.
# Setting type: Int32
# Default value: 1
Max Purchase Amount = 1

## Whether the upgrade item applies to the entire team instead of just one player.
# Setting type: Boolean
# Default value: false
Allow Team Upgrades = true

## The number of times the upgrade item is applied at the start of the game.
# Setting type: Int32
# Default value: 0
Starting Amount = 0

## The display name of the upgrade item.
# Setting type: String
# Default value: Map Enemy Tracker
Display Name = Map Enemy Tracker

## Whether the icon should appear as an arrow showing direction instead of a dot.
# Setting type: Boolean
# Default value: true
Arrow Icon = true

## The color of the icon.
# Setting type: Color
# Default value: FF0000FF
Color = FF0000FF

## Exclude specific enemies from displaying their icon by listing their names.
## Example: 'Gnome, Clown', seperated by commas.
# Setting type: String
# Default value: 
Exclude Enemies = 

[Map Player Tracker]

## Whether the upgrade item can be spawned to the shop.
# Setting type: Boolean
# Default value: true
Enabled = true

## The maximum number of times the upgrade item can appear in the truck.
# Setting type: Int32
# Default value: 1
Max Amount = 1

## The maximum number of times the upgrade item can appear in the shop.
# Setting type: Int32
# Default value: 1
Max Amount In Shop = 1

## The minimum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 30000
Minimum Price = 30000

## The maximum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 40000
Maximum Price = 40000

## The scale of the price increase based on the total number of upgrade item purchased.
## Default scaling is set to 0.5. (Note: This value may be modified by other mods that adjust the game's default scaling.)
## Set to -1 to use the default scaling.
# Setting type: Single
# Default value: 0
Price Increase Scaling = 0

## The maximum number of times the upgrade item can be purchased before it is no longer available in the shop.
## Set to 0 to disable the limit.
# Setting type: Int32
# Default value: 1
Max Purchase Amount = 1

## Whether the upgrade item applies to the entire team instead of just one player.
# Setting type: Boolean
# Default value: false
Allow Team Upgrades = true

## The number of times the upgrade item is applied at the start of the game.
# Setting type: Int32
# Default value: 0
Starting Amount = 0

## The display name of the upgrade item.
# Setting type: String
# Default value: Map Player Tracker
Display Name = Map Player Tracker

## Whether the icon should appear as an arrow showing direction instead of a dot.
# Setting type: Boolean
# Default value: true
Arrow Icon = true

## Whether the icon should be colored as the player.
# Setting type: Boolean
# Default value: false
Player Color = true

## The color of the icon.
# Setting type: Color
# Default value: 0000FFFF
Color = 0000FFFF

[Sprint Usage]

## Whether the upgrade item can be spawned to the shop.
# Setting type: Boolean
# Default value: true
Enabled = true

## The maximum number of times the upgrade item can appear in the truck.
# Setting type: Int32
# Default value: 10
Max Amount = 10

## The maximum number of times the upgrade item can appear in the shop.
# Setting type: Int32
# Default value: 2
Max Amount In Shop = 2

## The minimum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 9000
Minimum Price = 9000

## The maximum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 14000
Maximum Price = 14000

## The scale of the price increase based on the total number of upgrade item purchased.
## Default scaling is set to 0.5. (Note: This value may be modified by other mods that adjust the game's default scaling.)
## Set to -1 to use the default scaling.
# Setting type: Single
# Default value: -1
Price Increase Scaling = -1

## The maximum number of times the upgrade item can be purchased before it is no longer available in the shop.
## Set to 0 to disable the limit.
# Setting type: Int32
# Default value: 0
Max Purchase Amount = 0

## Whether the upgrade item applies to the entire team instead of just one player.
# Setting type: Boolean
# Default value: false
Allow Team Upgrades = true

## The number of times the upgrade item is applied at the start of the game.
# Setting type: Int32
# Default value: 0
Starting Amount = 0

## The display name of the upgrade item.
# Setting type: String
# Default value: Sprint Usage
Display Name = Sprint Usage

## Formula: energySprintDrain / (1 + (upgradeAmount * scalingFactor))
# Setting type: Single
# Default value: 0.1
Scaling Factor = 0.1

[Valuable Count]

## Whether the upgrade item can be spawned to the shop.
# Setting type: Boolean
# Default value: true
Enabled = true

## The maximum number of times the upgrade item can appear in the truck.
# Setting type: Int32
# Default value: 1
Max Amount = 1

## The maximum number of times the upgrade item can appear in the shop.
# Setting type: Int32
# Default value: 1
Max Amount In Shop = 1

## The minimum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 30000
Minimum Price = 30000

## The maximum cost to purchase the upgrade item.
# Setting type: Single
# Default value: 40000
Maximum Price = 40000

## The scale of the price increase based on the total number of upgrade item purchased.
## Default scaling is set to 0.5. (Note: This value may be modified by other mods that adjust the game's default scaling.)
## Set to -1 to use the default scaling.
# Setting type: Single
# Default value: 0
Price Increase Scaling = 0

## The maximum number of times the upgrade item can be purchased before it is no longer available in the shop.
## Set to 0 to disable the limit.
# Setting type: Int32
# Default value: 1
Max Purchase Amount = 1

## Whether the upgrade item applies to the entire team instead of just one player.
# Setting type: Boolean
# Default value: false
Allow Team Upgrades = true

## The number of times the upgrade item is applied at the start of the game.
# Setting type: Int32
# Default value: 0
Starting Amount = 0

## The display name of the upgrade item.
# Setting type: String
# Default value: Valuable Count
Display Name = Valuable Count

## Whether to display the total value next to the valuable counter.
# Setting type: Boolean
# Default value: true
Display Total Value = true

